.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1024px;
  height: 800px;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.button1 {
  margin-top: 100px;
  margin-bottom: 20px;
}

.counter-card {
  width: 200px;
  height: 200px;
  background-color: white;
}

.container-counter {
  /* background-color: blue; */
  display: flex;
  gap: 30px;
}

.counter {
  width: 70px;
  height: 70px;
  margin: 20px;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.btn-block {
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
  gap: 10px;
  align-items: center;
}

.btn {
  width: 40px;
  height: 40px;
}

.hidden {
  display: none;
}
